<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="<% if(editing) {%>../../admin/edit-product <% } else {%>../admin/add-product<%}%>" enctype="multipart/form-data" method="POST" >
            <div class="form-control">
                <label for="Name">Title</label>
                <input type="text" name="Name" id="title"  value="<% if(editing) {%><%=product.name%> <% }%> ">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input  type="file" name="ImgLink" <% if(!editing) {%>required="required" <%}%>   value="<% if(editing) {%><%=product.imageURL%> <% }%> ">

            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="Price" id="price" step="0.01" value=<% if(editing) {%><%=product.price%> <% }%>  >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="SellerName" id="description" rows="5" ><% if(editing) {%><%=product.description%> <% }%> </textarea>
            </div>
			<%if(editing) { %>
    <input name="productID" type="hidden" value="<%=product._id %>">
    <input name="productImage" type="hidden" value="<%=product.imageURL %>">
	<% }%>
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"  ><% if(editing) {%><%-'update'%> <% } else {%><%-'add'%><%}%></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
